name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  schedule:
    # every day at 11am UTC (6am EST)
    - cron: "0 11 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq:
          - "dev"
          - "8.16"
          - "8.15"
          - "8.14"
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: coq-community/docker-coq-action@v1
        with:
          opam_file: "iris-simp-lang.opam"
          custom_image: "coqorg/coq:${{ matrix.coq }}"
          before_install: |
            startGroup "Add Iris repo"
              opam repo add iris-dev https://gitlab.mpi-sws.org/iris/opam.git
            endGroup
            startGroup "Print opam config"
              opam config list; opam repo list; opam list
            endGroup
  # NOTE: re-enable this job once Iris releases something after 4.0.0. (The only
  # issue is that `iSolveTC` was moved to `tc_solve` in stdpp.)
  #build-release:
  #  name: build (released iris, coq dev)
  #  runs-on: ubuntu-latest
  #  strategy:
  #    fail-fast: false
  #  steps:
  #    - uses: actions/checkout@v2
  #    - uses: coq-community/docker-coq-action@v1
  #      with:
  #        custom_image: "coqorg/coq:dev"

# See also:
# https://github.com/coq-community/docker-coq-action#readme
# https://github.com/erikmd/docker-coq-github-action-demo
